<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sarcoex_SDADC_W.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <Sarcoex_SDADC_W.Properties.Settings>
            <setting name="HeadsetDevice" serializeAs="String">
                <value>Headset</value>
            </setting>
            <setting name="TVDevice" serializeAs="String">
                <value>TV</value>
            </setting>
            <setting name="SpeakersDevice" serializeAs="String">
                <value>Speakers</value>
            </setting>
        </Sarcoex_SDADC_W.Properties.Settings>
    </applicationSettings>
</configuration>